<% imageUrl = breedItem.imageUrls[0] %>
<% breedName = breedItem.name %>
<% description = breedItem.descriptions %>


<div class="breed-card">
    <img src="<%= imageUrl %>" alt="<%= breedName %>">
    <h2><%= breedName %></h2>
    <p><%= description %></p>
</div>
