<% randomImages = images %>
<% breed =  breeds%>

<h1>All Breeds</h1>
<%- include('./partials/carousel') %>
<h1>Admin breeds</h1>

<% breed.forEach(function(breedItem, index) { %>
  <%- include('./partials/breedCard', {breedItem: breedItem}) %>
<% }); %>
