<!-- views/pages/home.ejs -->

<%- include('../partials/carousel') %>

<h1>Welcome to the Dog Breed App!</h1>
<p>Find your favorite dog breed here.</p>

<%- include('../partials/breedCard', { imageUrl: '/img/breed1.jpg', breedName: 'Golden Retriever', description: 'The Golden Retriever is a large-sized breed of dog bred as gun dogs to retrieve shot waterfowl such as ducks and upland game birds during hunting and shooting parties.' }) %>

<%- include('../partials/breedCard', { imageUrl: '/img/breed2.jpg', breedName: 'Labrador Retriever', description: 'The Labrador Retriever, or just Labrador, is a large breed of retriever-gun dog.' }) %>

<%- include('../partials/breedCard', { imageUrl: '/img/breed3.jpg', breedName: 'German Shepherd', description: 'The German Shepherd is a breed of medium to large-sized working dog that originated in Germany.' }) %>
